

.container{
	max-width: 65%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, auto);

	header{
		display: flex;
		justify-content: flex-end;
		margin: 20px;
	
		nav{
			width: 50%;
			display: flex;
			justify-content: space-around;
	
			a{
				text-decoration: none;
				color: black;
				font-size: 1.8rem;
			}
		}
	}
}

.top-content{
	background-color: lightgray;
	padding: 20px;
	
	.top-image{
		width: 100%;
		margin-bottom: 40px;

		img{
			width: 100%;
		}
	}

	.top-text{
		display: flex;
		flex-direction: column;
		align-content: space-around;

		h1{
			font-size: 4rem;
			margin-bottom: 5px;
		}

		h3{
			font-size: 3rem;
			margin-bottom: 15px;
		}

		p{
			font-size: 1.8rem;
			margin-bottom: 15px;
		}

		button{
			align-self: flex-start;
			text-align: center;
			padding: 20px;
			background-color: plum;
			color: white;
			font-size: 2rem;
			border-radius: 10px;
			width: 25%;
		}
	}
}


